.square{
    width: 150px;
    height: 150px;
}

.vertical{
    border-left: 4px solid #2D3142;
    border-right: 4px solid #2D3142;
}

.horizontal{
    border-top: 4px solid #2D3142;
    border-bottom: 4px solid #2D3142;
}

.container{
    margin-top: 5%;
    text-align: center;
}

#game-board {
    display: inline-block;
    margin-top:2%;
    text-align: center;
}

.space-btn {
  width: 150px;
  height: 150px;
  background-color: #B0D7FF;
  font-size: 125px;
  color: #A31621;
}

table {
    background-color: #B0D7FF;
    text-align:center;
}
p {
    margin-left:25%;
    margin-right:25%;
}

h1 {
  font-size: 100px;
}
